[Desktop Entry]
Comment=Starter for PPP over GPRS/UMTS
Comment[de]=Startprogramm für PPP über GPRS/UMTS
Name=GPRS connection
Name[de]=GPRS Einwahl
Icon=gprsconnect
Type=Application
Terminal=0
Exec=su-me /usr/sbin/gprsconnect
