Source: configure-gprs
Section: net
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: configure-gprs
Architecture: all
Depends: ppp, ppp-scripts, dialog, configure-modemlink, su-me
Recommends: xdialog, xterm | x-terminal-emulator
Description: Starter for PPP connection over GPRS
 Minimal GUI for setting up GPRS connections with sidux.
