Source: configure-gprs
Section: net
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5), imagemagick, gettext
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/configure-gprs/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/configure-gprs/trunk/

Package: configure-gprs
Architecture: all
Depends: ppp, ppp-scripts, ssft, configure-modemlink, gettext
Recommends: menu, xterm | x-terminal-emulator
Description: Starter for PPP connection over GPRS
 Minimal GUI for setting up GPRS connections with sidux.
