#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

build/configure-gprs::
	# Gettext Internationalisation (i18n)
	DESTDIR=$(CURDIR)/debian/configure-gprs $(CURDIR)/po/make_po.sh gprsconnect.mo

install/configure-gprs::
	mkdir -p debian/configure-gprs/usr/share/pixmaps
	convert icons/hicolor/32x32/apps/sidux-gprs.png \
		debian/configure-gprs/usr/share/pixmaps/configure-gprs.xpm
	convert icons/hicolor/16x16/apps/sidux-gprs.png \
		debian/configure-gprs/usr/share/pixmaps/configure-gprs-16.xpm
